html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fcfcfc;
}

#root {
  height: 100%;
}
